#header {
    height: 50px;
    background-color: #092b61;
    color: #ffffff;
}

#branding h1 {
    color: #ffffff;
}

a:link,
a:visited {
    color: #092b61;
}

div.breadcrumbs {
    color: #5a6c2b;
    background-color: #6cc0cc;
}

div.breadcrumbs a {
    color: #333;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #6cc0cc;
}