{% extends 'openticketing/layout.html' %}
{% block page_content %}

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <li class="nav-item">
        <a class="nav-link active" href="#openTickets" data-toggle="tab">Open</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#closedTickets" data-toggle="tab">Closed</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="openTickets">
        {% if open_tickets %}
        <ul>
            {% for ticket in open_tickets %}
                <li>{{ ticket.subject }}</li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if open_tickets.has_pervious %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ openTickets.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ open_tickets.number }} of {{ open_tickets.paginator.num_pages }}
                </span>

                {% if open_tickets.has_next %}
                <a href="?page={{ open_tickets.next_page_number }}">next</a>
                <a href="?page={{ open_tickets.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% else %}
            <div>
                <p>Congratulations! No open tickets found!</p>
            </div>
        {% endif %}
    </div>
    <div class="tab-pane fade " id="closedTickets">
        <p>History of closed ticket goes here!</p>
    </div>
</div>
<div>
    Do you have any problem?! So, <a href="{% url 'tickets:submit' %}">submit a ticket</a>
</div>

{% endblock page_content %}