{% extends "openticketing/layout.html" %}


{% block title %}
Dashboard - My tickets
{% endblock %}

{% block page_heading %}Dashboard{% endblock page_heading %}

{% block page_content %}
    {% if tickets %}
    <ul>
        {% for ticket in tickets %}
            {% if ticket.submitter %}
            <li><a href="{% url 'tickets:submitter' ticket.submitter.id %}">{{ticket.submitter}} [{{ ticket.submitter.id }}]</a>: <a href="{% url 'tickets:ticket' ticket.id %}">{{ticket.subject}} </a></li>
            {% else %}
            <li>Anonymous: <a href="{% url 'tickets:ticket' ticket.id %}">{{ticket.subject}} </a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>No ticket found!</p>
    {% endif %}


<div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Submitted Tickets Overview</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="submittedTicketChart" style="display: block; height: 320px; width: 782px;" width="977" height="400" class="chartjs-render-monitor"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Not Resolved Tickets</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="position: absolute; transform: translate3d(-157px, 18px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="ticketStatusPieChart" width="447" height="306" class="chartjs-render-monitor" style="display: block; height: 245px; width: 358px;"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>



{% endblock %}


{% block jquery %}
<script type="text/javascript">
var endpoint = "{% url 'tickets:api-analytics-history' %}";
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
      var ctx = document.getElementById('submittedTicketChart');
      var myChart = new Chart(ctx, data);
    },
    error: function(error){
      console.log(error);
    }
});

endpoint = "{% url 'tickets:api-analytics-status' %}";
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
      data = {
        type: 'pie',
        data: {
          labels: ["<30 days", "30~60 days", ">60days"],
          datasets: [{
            label: "No. of tickets",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
            data: [2478,5267,734]
          }]
        }
      }
      var ctx = document.getElementById('ticketStatusPieChart');
      var myChart = new Chart(ctx, data);
    },
    error: function(error){
      console.log(error);
    }
});
</script>
{% endblock %}
