{% extends "openticketing/layout.html" %}

{% load crispy_forms_tags %}

{% block title %}
Dashboard - My tickets
{% endblock %}

{% block page_heading %}Dashboard{% endblock page_heading %}

{% block page_content %}
    {% if tickets %}
    <ul>
        {% for ticket in tickets %}
            <li><a href="{% url 'tickets:submitter' ticket.submitter.id %}">{{ticket.submitter}}</a>: <a href="{% url 'tickets:ticket' ticket.id %}">{{ticket.subject}} </a>
        {% endfor %}
    </ul>
    {% else %}
    <p>No ticket found!</p>
    {% endif %}

    <div class="col-lg-6">
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy}}
        <div class="form-group">
            <label>Attachments</label>
            <input type="file" name="attachments">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock %}
