{% extends 'openticketing/base.html' %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <!-- Image Logo -->
  <a class="navbar-brand logo-image" href="{% url 'web:home' %}"><img src="{% static 'openticketing/img/logo.png' %}" alt="OpenTicketing"></a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link page-scroll active" href="{% url 'web:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#about">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#contact">Contact</a>
      </li>
    </ul>
    
    <div class="my-2 my-lg-0">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Welcome {{ request.user }}!</a>
                <div class="dropdown-menu">
                  {% if request.user.is_superuser %}<a class="dropdown-item" href="{% url 'admin:index' %}">Admin page</a>{% endif %}
                  <a class="dropdown-item" href="{% url 'tickets:home' %}">Dashboard</a>
                  <a class="dropdown-item" href="{% url 'web:logout' %}">Logout</a>
                </div>
            </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">English</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">English</a>
                  <a class="dropdown-item" href="#">Persian</a>
                </div>
            </li>

            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'tickets:home' %}">Login</a>
            </li>
            {% endif %}
            
        </ul>
    </div>
  </div>
</nav>

<header id="header" class="header">
  <div class="header-content" style="padding-top: 85px;">
    <div class="container-fluid">
      <div class="row">
        <ul>
        <li><a href="{% url 'tickets:dashboard' %}">Dashboard</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
          {% if blog_posts %}
            {% for blog_post in blog_posts %}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{ blog_post.name }}</h6>
                </div>
                <div class="card-body">
                  <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>
                      Wrote by {{ blog_post.create_user.get_full_name }} on {{ blog_post.create_date }}
                  </div>
                {{ blog_post.body }}
                </div>
            </div>
            {% endfor %}
          {% else %}
            <div class="card">
                <div class="card-body">
                No blog Post found!
                </div>
            </div>
          {% endif %}
        </div>
    </div>
</div>
{% endblock content %}