{% extends "openticketing/layout.html" %}
{% block title %}
Submit a ticket
{% endblock %}

{% block page_heading %}Submit a ticket{% endblock page_heading %}

{% load crispy_forms_tags %}

{% block page_content %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    {% if is_ticket_submitted %}
                        <div>
                            {{ message }}
                            <ul>
                                <li>for track your ticket you can <a href="{% url 'tickets:submitter' ticket_id %}">clicke here</a></li>
                                <li>for submit new ticket you can <a href="{% url 'tickets:submit'%}">clicke here</a></li>
                            </ul>
                        </div>
                    {% else %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy}}
                        <div class="form-group">
                            <label>Attachments</label>
                            <input type="file" name="attachments">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}