{% extends 'openticketing/partials/_sidebar.html' %}
{% block sidebar_menu %}
      <!-- Nav Item - Dashboard -->
      <li {% if 'dashboard' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{% url 'tickets:dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Mailbox
      </div>

      <li class="nav-item" >
        <a class="nav-link" href="% url 'mailbox:inbox' %">
          <i class="fas fa-fw fa-table"></i>
          <span>Inbox</span></a>
      </li>

      <li class="nav-item" >
        <a class="nav-link" href="% url 'mailbox:inbox' %">
          <i class="fas fa-fw fa-table"></i>
          <span>Sent Mail</span></a>
      </li>

      <li class="nav-item" >
        <a class="nav-link" href="% url 'mailbox:inbox' %">
          <i class="fas fa-fw fa-table"></i>
          <span>Trash</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Tickets
      </div>

      <!-- Nav Item - My Tickets Menu -->
      <li {% if 'tickets/my_tickets' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{% url 'tickets:customer-my-tickets' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>My Tickets</span></a>
      </li>
      <li {% if 'tickets/submit' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{% url 'tickets:submit' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Submit a ticket</span></a>
      </li>
{% endblock sidebar_menu %}